# 5. Data Structures

From https://docs.python.org/3/tutorial/datastructures.html#looping-techniques.

## 5.1. More on Lists

Write custom `list.extend()`.

In [13]:
ll = list('abcd')
ll2 = list('12')

In [16]:
ll[len(ll):]= ll2
ll

['a', 'b', 'c', 'd', '1', '2', '1', '2', '1', '2']

Find:

In [30]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

 How many times 'apple' is in the list.

In [31]:
fruits.count('apple')

2

First time 'pear' is found.

In [32]:
fruits.index('pear')

2

Which methods modify the original list and return the default `None`?

In [33]:
print(fruits)
print(fruits.insert(2,'carrot'))
print(fruits.sort())
print(fruits.remove('apple'))
print(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
None
None
None
['apple', 'banana', 'banana', 'carrot', 'kiwi', 'orange', 'pear']

### 5.1.1. Using Lists as Stacks

Implement a stack. Add an element, then retrieve two elements.

In [37]:
stack = list('abcd')

In [36]:
stack.append('0')
stack.pop()
stack.pop()
stack

['a', 'b']

### 5.1.2. Using Lists as Queues

Implement a queue. Add an element, and retrieve 1 element.

In [41]:
from collections import deque
queue = deque(list('abcd'))
print(queue)

queue.append('k')
print(queue)

queue.popleft()
print(queue)

deque(['a', 'b', 'c', 'd'])
deque(['a', 'b', 'c', 'd', 'k'])
deque(['b', 'c', 'd', 'k'])

### 5.1.3. List Comprehensions

Create a list with the squares of numbers from 1 to 10. Use: A) comprehension, B) map.

In [44]:
print(list(map(lambda x: x ** 2, range(1, 11))))

print([x**2 for x in range(1, 11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Filter the list to exclude negative numbers.

In [45]:
ll = [1, -2, -5, 8]

In [47]:
[x for x in ll if x > 0]

[1, 8]

Call a method on each element.

In [52]:
ll = [1, -2, -5, 8]

In [53]:
[abs(x) for x in ll]

[1, 2, 5, 8]

Flatten a 2d list.

In [54]:
vec = [[1,2,3], [4,5,6], [7,8,9]]

In [56]:
[el for row in vec for el in row]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Remove the 2 and 3rd element.

In [57]:
a = [-1, 1, 66.25, 333, 333, 1234.5]

In [60]:
del a[2:4]
a

[-1, 1]

## 5.3

Create a tuple with 0 and 1 elements.

In [66]:
t1 = ()
t2 = tuple()
print(type(t1))
print(type(t2))

t3 = 'one',
t4 = ('two', )
print(type(t3))
print(type(t4))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

Give an example of tuple packing - the action of grouping together several values in a tuple.

In [71]:
x = 5.24
t = 1, x, 'asd'
t

(1, 5.24, 'asd')

Give example of sequence unpacking.

In [73]:
t = (1, 5, 2)
a, b, c = t
print(a, b, c)

1 5 2

## 5.4. Sets

Create an empty set.

In [76]:
print(type(set()))

print(type({}))

<class 'set'>
<class 'dict'>

Find the unique letters in 'abracadabra'.

In [78]:
set('abracadabra')

{'a', 'b', 'c', 'd', 'r'}

Find the unique vowels (aeoui) in 'abracadabra'.

In [81]:
# Set comprehension
{c for c in 'abracadabra' if c not in 'aeoui'}

{'b', 'c', 'd', 'r'}

## 5.5. Dictionaries

Give examples how dictionaries are called in other languages.

In [83]:
 # “associative memories” or “associative arrays”

Create dict from a list.

In [87]:
dict([('one', 1), ('two', 2)])

{'one': 1, 'two': 2}

Create dict of pairs x, x^2 for the numbers 1-10.

In [89]:
{x: x**2 for x in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [89]:
{x: x**2 for x in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

Get sorted keys of a dict.

## 5.6. Looping Techniques

Loop trough a sequence, print both position index and value.

In [2]:
ll = list('abc')

In [3]:
for i, v in enumerate(ll):
    print(i, v)

0 a
1 b
2 c

Loop over two sequences at the same time.

In [4]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']

In [6]:
for q, a in zip(questions, answers):
    print(q, a)

name lancelot
quest the holy grail
favorite color blue

Loop over sequence in sorted or reversed order.

In [7]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [8]:
for fruit in sorted(basket):
    print(fruit)

apple
apple
banana
orange
orange
pear

Loop over unique elements in a sequence.

In [9]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [10]:
sorted(set(basket))

['apple', 'banana', 'orange', 'pear']